//colors
$orange1: rgb(231, 158, 109);
$orange2: rgb(226, 124, 57);
$orange3: #E66E1C;
$logo-blue: #3C5BBE;
$blue1: rgb(128, 178, 231);

$blue2: #185FAC;
$blue3: rgb(13, 71, 133);
$font-gray: #464749;
$header-gray: #3C3C3C;
$gray: rgb(71, 71, 71);

// media queries
 $mob: 480px;
 $tab: 768px;
 $desk: 992px;
 $xldesk: 1200px;

 // font
 $font-main: 'Raleway', sans-serif;

 // CSS Reset (for browser consistency)
 //https://meyerweb.com/eric/tools/css/reset/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// main styles

h1, h2, h3, h4, h5, h6, p {
  font-family: $font-main;
}

h1 {
  text-transform: uppercase;
  font-weight: 900;
}

h3{
  text-transform: uppercase;
}

//header navigation styles

.App-header {
  background-color: white;
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $gray;
  color: white;
  @media (min-width: $tab) {
    justify-content: flex-start;
  }
}

.logo {
  width: 200px;
  height: 100%;
}

// hero

.hero-text {
  position: relative;
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 0 40px;
  z-index: 2;
  line-height: 1.2;
  @media (min-width: $tab) {
    font-size: 35px;
  }
  @media (min-width: $desk) {
    font-size: 45px;
  }
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.underline {
  text-decoration: underline;
}

.what {
  background-color: $gray;
  color: #FFF;

}

.why {
  background-color: white;
  color: $logo-blue;

}

.who {
  background-color: white;
  color: $font-gray;

}

.how {
  background-color: $gray;
  color: #FFF;
}

.steps {
  background-color: $gray;
  color: #FFF;
}

.problems {
  background-color: white;
  color: $font-gray;
}

.what__card-font {
  font-weight: 300;
  font-size: 26px;
}

.why__card-font {
  font-weight: 300;
  font-size: 14px;
}

.who__card-font {
  font-weight: 300;
  font-size: 18px;
}

.how__card-font {
  font-weight: 300;
  font-size: 14px;
}

.steps__card-font {
  font-weight: 300;
  font-size: 14px;
}

.solutions {
  background-color: white;
  color: $font-gray;
  // background-color: rgb(6, 32, 61);
  // padding: 10px 0;
}



%paragraph {

  // max-width: 576px;
  margin-left: 0;
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.375;
}

.paragraph-white {
  @extend %paragraph;
  color: white;
}

.paragraph-gray {
  @extend %paragraph;
  color: $font-gray;
}



.bold {
  font-weight: bold;
}

.hero-img {
  height: 60vw;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
  display: table-cell;
  vertical-align: middle;

}

.blue-web {
  background-image: url('../images/blue-web.jpeg');
}

.blockchain {
  background-image: url('../images/railway.jpg');
  position: relative;
}

.blockchain:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  content: "";

}
.blue-world-dots {
  background-image: url('../images/blue-world-dots.jpeg');
}
.exchange-building {
  background-image: url('../images/exchange-building.jpg');
  background-position: top;
}

.image-container {
  margin-top: 24px;
  margin-bottom: 48px;

}

.image {
  margin: auto;
  display: block;
  height: auto;
  // width: 576px;
  max-width: 100%;
}


.App-footer {
  background-color: $header-gray;
  height: 45px;
  // display: table-cell;
  // vertical-align: middle;
  line-height: 45px;
  border-top: 5px solid #E66E1C;
  color: white;
}
